<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <default>
        <payment>
            <webpay>
                <payment_action>capture</payment_action>
                <model>Mobbex\Webpay\Model\Mobbex</model>
                <active>1</active>
                <order_status>pending</order_status>
                <allowspecific>0</allowspecific>
                <group>online</group>
                <!-- Default Settings -->
                <test_mode>0</test_mode>
                <title>Mobbex</title>
                <checkout>
                    <embed_payment>1</embed_payment>
                    <order_status_settings>
                        <order_status_approved>processing</order_status_approved>
                        <order_status_in_process>pending</order_status_in_process>
                        <order_status_cancelled>canceled</order_status_cancelled>
                        <order_status_refunded>closed</order_status_refunded>
                        <disable_invoices>0</disable_invoices>
                    </order_status_settings>
                    <email_settings>
                        <create_order_email>1</create_order_email>
                    </email_settings>
                </checkout>
                <appearance>
                    <checkout_banner>https://res.mobbex.com/ecommerce/mobbex_1.png</checkout_banner>
                    <theme>light</theme>
                    <background_color>#ECF2F6</background_color>
                    <primary_color>#6f00ff</primary_color>
                    <button_text>Ver formas de pago</button_text>
                    <widget_style>/* Modifica los valores para cambiar el estilo deseado. */
#mbbxProductBtn {
width: fit-content;
min-height: 40px;
border-radius: 6px;
padding: 8px 18px; /*El primer valor setea 'up/down' el segundo 'left/right'*/
font-size: 16px;
color: #6f00ff; 
background-color: #ffffff;
border: 1.5px solid #6f00ff; /* Grosor de linea, estilo de linea, color. */
/*box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, .2);*/
}

/* Hover Options */
#mbbxProductBtn:hover {
color: #ffffff;
background-color: #6f00ff;
}

/* Los colores pueden ser hexadecimales o rgb */
/* Para que los estilos funcionen deben respetar la sintaxys de CSS.*/
                    </widget_style>
                    <button_logo>https://res.mobbex.com/images/sources/mobbex.png</button_logo>
                </appearance>
            </webpay>
        </payment>
    </default>
</config>