<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <default>
        <payment>
            <webpay>
                <payment_action>capture</payment_action>
                <model>Mobbex\Webpay\Model\Mobbex</model>
                <active>1</active>
                <title>Mobbex</title>
                <order_status>pending</order_status>
                <allowspecific>0</allowspecific>
                <group>online</group>
                <!-- Default Settings -->
                <test_mode>0</test_mode>
                <embed_payment>0</embed_payment>
                <theme>light</theme>
                <background_color>#ECF2F6</background_color>
                <primary_color>#6f00ff</primary_color>
                <checkout_banner>https://res.mobbex.com/images/isologo.png</checkout_banner>
            </webpay>
        </payment>
    </default>
</config>
