<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <default>
        <payment>
            <sugapay>
                <payment_action>capture</payment_action>
                <model>Mobbex\Webpay\Model\Mobbex</model>
                <active>1</active>
                <order_status>pending</order_status>
                <allowspecific>0</allowspecific>
                <group>online</group>
                <!-- Default Settings -->
                <test_mode>0</test_mode>
                <title>Mobbex</title>
                <checkout>
                    <embed_payment>1</embed_payment>
                    <payment_mode>payment.v2</payment_mode>
                    <timeout>5</timeout>
                    <return_timeout>5</return_timeout>
                    <show_no_interest_labels>1</show_no_interest_labels>
                    <order_status_settings>
                        <order_status_approved>processing</order_status_approved>
                        <order_status_in_process>pending</order_status_in_process>
                        <order_status_cancelled>mobbex_failed</order_status_cancelled>
                        <order_status_authorized>mobbex_authorized</order_status_authorized>
                        <order_status_refunded>mobbex_refunded</order_status_refunded>
                        <order_status_revision>mobbex_revision</order_status_revision>
                        <order_status_rejected>mobbex_rejected</order_status_rejected>
                        <disable_invoices>0</disable_invoices>
                        <memo_stock>1</memo_stock>
                    </order_status_settings>
                    <email_settings>
                        <create_order_email>1</create_order_email>
                        <email_before_payment>0</email_before_payment>
                    </email_settings>
                </checkout>
                <appearance>
                    <checkout_title>Pagar con Mobbex</checkout_title>
                    <checkout_banner>https://res.mobbex.com/ecommerce/mobbex_1.png</checkout_banner>
                    <theme>light</theme>
                    <background_color>#ECF2F6</background_color>
                    <primary_color>#6f00ff</primary_color>
                    <button_text>Ver formas de pago</button_text>
                    <widget_style>
#mbbxProductBtn {
    width: fit-content;
    min-height: 40px;
    border-radius: 6px;
    padding: 8px 18px; /*El primer valor establece 'arriba/abajo' el segundo 'izquierda/derecha'*/
    font-size: 16px;
    color: #6f00ff; 
    background-color: #ffffff;
    border: 1.5px solid #6f00ff; /* Grosor de linea, estilo de linea, color. */
    /*box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, .2);*/
}

#mbbxProductBtn:hover {
    color: #ffffff;
    background-color: #6f00ff;
}
                    </widget_style>
                    <show_method_icons>1</show_method_icons>
                    <button_logo>https://res.mobbex.com/images/sources/mobbex.png</button_logo>
                </appearance>
                <advanced>
                    <advanced_plans_exclusivity>1</advanced_plans_exclusivity>
                    <online_refund>1</online_refund>
                    <payment_methods>0</payment_methods>
                </advanced>
                <notifications>
                    <emit_notifications>1</emit_notifications>
                    <emit_customer_success_notification>1</emit_customer_success_notification>
                    <emit_customer_failure_notification>1</emit_customer_failure_notification>
                    <emit_customer_waiting_notification>1</emit_customer_waiting_notification>
                </notifications>
            </sugapay>
        </payment>
    </default>
</config>