<config>
    <event name="payment_method_assign_data_sugapay">
        <observer name="mobbex_custom_gateway_data_assign" instance="Mobbex\Webpay\Observer\DataAssignObserver"/>
    </event>
    <event name="controller_action_catalog_product_save_entity_after">
        <observer name="mobbex_product_config_save" instance="Mobbex\Webpay\Observer\ProductSaveObserver"/>
    </event>
    <event name="sales_order_payment_refund">
        <observer name="mobbex_creditmemo_before_save_observer" instance="Mobbex\Webpay\Observer\RefundObserverBeforeSave"/>
    </event>
    <event name="catalog_category_prepare_save">
        <observer name="mobbex_category_config_save" instance="Mobbex\Webpay\Observer\CategorySaveObserver" />
    </event>
    <event name="order_cancel_after">
        <observer name="mobbex_order_cancel_after" instance="Mobbex\Webpay\Observer\CancelOrderObserver" />
    </event>
        <event name="sales_order_place_after">
        <observer name="mobbex_order_place_after" instance="Mobbex\Webpay\Observer\OrderPlaceAfter"/>
    </event>
</config>
