<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noTestSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Mobbex_Webpay" setup_version="2.1.3" active="true">
        <sequence>
			<module name="Magento_Catalog"/>
		</sequence>
    </module>
</config>
