<!-- ko foreach: availableMethods -->
<div class="payment-method" data-bind="css: {'_active': $parent.selectedOption() == subgroup && $parent.isActive()}">
    <div class="payment-method-title field choice">
        <input type="radio"
            name="payment[method]" 
            class="radio"
            attr="id: 'payment_method_' + subgroup"
            click="$parent.selectPaymentMethod.bind($parent)"
            ko-value="subgroup"
            ko-checked="$parent.selectedOption"
            />
        <label data-bind="attr: {for: 'payment_method_' + subgroup}">
            <!-- ko if: $parent.config.show_method_icons == 1  -->
            <img data-bind="attr: { src: $index() === 0 && $parent.config.method_icon ? $parent.config.method_icon : subgroup_logo, alt: subgroup_title, style: 'background: ' +  $parent.config.color}" />
            <!--/ko-->
            <span data-bind="text: subgroup_title"></span>
        </label>
    </div>
    <!-- ko if: $parent.config.banner && $index() === 0  -->
    <img data-bind="attr: {src: $parent.config.banner}" style="max-width: 100%;" />
    <!--/ko-->
    <!-- ko if: $parent.selectedOption() === subgroup && $parent.isActive() -->
    <div class="payment-method-content">
        <div id="mbbx-container"></div>
        <!-- ko foreach: $parents[1].getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parents[1].getRegion($parent.getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parents[1].getRegion('before-place-order') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button type="submit" class="action primary checkout" data-bind="click: $parent.processPayment.bind($parent), enable: $parent.isPlaceOrderActionAllowed()">
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
    </div>
    <!-- /ko -->
</div>
<!-- /ko -->

<!-- ko foreach: availableCards -->
<div class="payment-method" data-bind="css: {'_active': $parent.selectedOption() == card.card_number && $parent.isActive()}">
    <div class="payment-method-title field choice">
        <input type="radio"
            name="payment[method]" 
            class="radio"
            attr="id: 'payment_method_' + card.card_number"
            click="$parent.selectPaymentMethod.bind($parent)"
            ko-value="card.card_number"
            ko-checked="$parent.selectedOption"
            />
        <label data-bind="attr: {for: 'payment_method_' + card.card_number}">
            <!-- ko if: $parent.config.show_method_icons == 1 -->
            <img data-bind="attr: { src: source.card.issuer.logo, alt: source.name, style: 'max-width: 50px;' }" />
            <!-- /ko -->
            <span data-bind="text: name"></span>
        </label>
    </div>
    <!-- ko if: $parent.selectedOption() === card.card_number -->
    <div class="payment-method-content">
        <div id="card_form">
            <select name="installment" style="max-width: 200px; padding: 0 10px;">
                <!-- ko foreach: installments -->
                <option data-bind="text: name, attr: {'value': reference}"></option>
                <!-- /ko -->
            </select>
            <input name="security-code" type="password" required style="margin: 20px 0; max-width: 100px;"
                data-bind="attr: {'maxlenght': source.card.product.code.length, 'placeholder': source.card.product.code.name}">
        </div>
        <!-- ko foreach: $parents[1].getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parents[1].getRegion($parent.getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parents[1].getRegion('before-place-order') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button type="submit" class="action primary checkout" data-bind="click: $parent.processPayment.bind($parent), enable: $parent.isPlaceOrderActionAllowed()">
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
    </div>
    <!-- /ko -->
</div>
<!-- /ko -->