<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked() && onSelect())}">

    <div id="redirectForm"></div>

    <input type="radio"
    style="display: none;" 
    data-bind="attr: {'id': getCode()}, 
    value: getCode(), 
    checked: isChecked, 
    click: selectPaymentMethod">

    <!--Common Mobbex Methods-->
    <!-- ko foreach: { data: getPaymentMethods(), as: 'item' } -->
    <li class="payment-method payment-method-title field choice">
        <div class="inputs" style="display: flex; align-items: center;">
            <input type="radio" class="mbbx-payment-method-input" name="payment[method]"
            data-bind="attr: {'id': item.id, value: item.value}" />
            
            <label data-bind="attr: {'for': item.id}" class="label" style="display: flex; align-items: center;">
                <!-- ko if: (item.image != '') -->
                <img data-bind="attr: {'src': item.image}" alt="mobbex metodos de pago"
                style="width: 50px; margin-right: 10px; border-radius: 50%;">
                <!-- /ko -->
                <span data-bind="text: item.name"></span>
            </label>
        </div>
        <!-- ko if: (item.id == 'card_input' || $parent.getPaymentMethods().length == 1) && $parent.getBanner() -->
        <div class="mobbex-content" style="padding: 20px 0" id="mbbx-banner">
            <img data-bind="attr: {src: $parent.getBanner()}" alt="mobbex metodos de pagos" class="mobbex-banner"
            style="max-width: 100%;" />
        </div>
        <!-- /ko -->
    </li>
    <!-- /ko -->

    <!--Mobbex Wallet--> 
    <!-- ko foreach: { data: getWalletCards(), as: 'card' } -->
    <li class="payment-method payment-method-title field choice">
        <div style="display: flex; align-items: center; ">
            <input name="payment[method]" type="radio"
                data-bind="attr: {'id': card.id, value: card.value}"
                class="mbbx-payment-method-input mbbx-card">
            <label data-bind="attr: {'for': card.id}" style="display: flex; align-items: center;">
                <img style="width: 50px; margin-right: 10px;border-radius: 50%;"
                    data-bind="attr: {'src': card.img}">
                <span data-bind="text: card.name"></span>
            </label>
        </div>
        <div class="mobbex-wallet-form" data-bind="attr: {'id': card.value}"
             style="display: none; margin-left: 25px;">
            <select name="installment" style="max-width: 100px; padding: 0 9px;">
                <!-- ko foreach: { data: card.installments, as: 'installment' } -->
                <div class="mbbx-card-installments">
                    <option data-bind="text: installment.name, attr: {'value': installment.reference}"></option>
                </div>
                <!-- /ko -->
            </select>
            <input style="margin: 20px 0; max-width: 100px;" type="password"
                data-bind="attr: {'maxlenght': card.maxlenght, 'placeholder': card.placeholder}" 
                name="security-code" 
                required >
            <input type="hidden" name="card-number" data-bind="attr: {'value': card.hiddenValue}">
        </div>
    </li>
    <!-- /ko -->

    <div class="payment-method-content" id="mbbx-place-order">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="click: placeOrder,
                        attr: {title: $t('Place Order')},
                        css: {disabled: !isPlaceOrderActionAllowed()},
                        enable: (getCode() == isChecked())"
                        disabled>
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
    </div>
</div>
<div id="mbbx-container"></div>


