<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="sugapay" translate="label" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">

                <label>Mobbex Sugapay</label>

                <field id="active" translate="label comment" sortOrder="1" type="select" showInDefault="1"
                    showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="api_key" translate="label comment" sortOrder="3" type="text" showInDefault="1"
                    showInWebsite="1" showInStore="1">
                    <label>API Key</label>
                </field>

                <field id="access_token" translate="label comment" sortOrder="4" type="text" showInDefault="1"
                    showInWebsite="1" showInStore="1">
                    <label>Access Token</label>
                </field>

                <field id="min_amount" translate="label comment" sortOrder="5" type="text" showInDefault="1"
                    showInWebsite="1" showInStore="1">
                    <label>Monto minimo de compra</label>
                    <comment>Monto de compra a partir del cual se podrá habilitar el módulo de pagos en el checkout
                    </comment>
                </field>

                <field id="debug_mode" translate="label comment" sortOrder="6" type="select" showInDefault="1"
                    showInWebsite="1" showInStore="1">
                    <label>Habilitar debug</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Solo para pruebas de desarrollo y verificar eventuales errores</comment>
                </field>

                <field id="test_mode" translate="label comment" sortOrder="7" type="select" showInDefault="1"
                    showInWebsite="1" showInStore="1">
                    <label>Modo de Pruebas</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="financial_active" translate="label comment" sortOrder="8" type="select" showInDefault="1"
                    showInWebsite="1" showInStore="1">
                    <label>Mostrar financiación en productos.</label>
                    <comment>Mostrar el botón de financiación en la página de cada producto.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="finance_widget_on_cart" translate="label comment" sortOrder="9" type="select"
                    showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Mostrar financiación en el carrito.</label>
                    <comment>Mostrar el botón de financiación en la página del carrito.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="version" translate="label" type="label" sortOrder="20" showInDefault="1" showInWebsite="1"
                    showInStore="1">
                    <label>Version</label>
                    <backend_model>Mobbex\Webpay\Model\Config\Version</backend_model>
                </field>
                
                <group id="checkout" translate="label" sortOrder="30" showInDefault="1" showInWebsite="1"
                    showInStore="1">
                    <label>Checkout</label>

                    <field id="wallet_active" translate="label comment" sortOrder="11" type="select" showInDefault="1"
                        showInWebsite="1" showInStore="1">
                        <label> Mobbex Wallet para usuarios logeados</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="embed_payment" translate="label comment" sortOrder="12" type="select" showInDefault="1"
                        showInWebsite="1" showInStore="1">
                        <label>Pago desde el sitio</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>

                    <field id="multicard" translate="label comment" sortOrder="13" type="select" showInDefault="1"
                        showInWebsite="1" showInStore="1">
                        <label>Permitir pagos con múltiples tarjetas</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>

                    <field id="own_dni_field" translate="label comment" sortOrder="18" type="select" showInDefault="1"
                        showInWebsite="1" showInStore="1">
                        <label>Mostrar campo DNI</label>
                        <comment>No compatible con la opcion "Usar columna DNI existente ".</comment>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>

                    <field id="dni_column" translate="label comment" sortOrder="19" type="text" showInDefault="1"
                        showInWebsite="1" showInStore="1">
                        <label>Usar columna DNI existente</label>
                        <comment>Nombre de la columna de 'sales_order_address' en la que se aloja el DNI del customer.</comment>
                    </field>

                    <field id="multivendor" translate="label comment" sortOrder="20" type="select" showInDefault="1"
                        showInWebsite="1" showInStore="1">
                        <label>Permitir múltiples vendedores</label>
                        <source_model>Mobbex\Webpay\Model\Config\Source\MultivendorSelect</source_model>
                    </field>

                    <field id="payment_mode" translate="label comment" sortOrder="30" type="select" showInDefault="1"
                        showInWebsite="1" showInStore="1">
                        <label>Operatoria en 2 pasos</label>
                        <source_model>Mobbex\Webpay\Model\Config\Source\PaymentModeSelect</source_model>
                    </field>

                    <field id="timeout" translate="label comment" sortOrder="31" type="text" showInDefault="1"
                        showInWebsite="1" showInStore="1">
                        <label>Tiempo de vida del checkout</label>
                        <comment>Permite establecer la dureación del checkout en minutos.</comment>
                    </field>

                    <group id="order_status_settings" translate="label" sortOrder="40" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                        <label>Order Status Settings</label>

                        <field id="order_status_approved" translate="label" type="select" sortOrder="19"
                            showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Estado del pedido cuando se aprueba el pago</label>
                            <source_model>Mobbex\Webpay\Model\Config\OrderStatus</source_model>
                        </field>

                        <field id="order_status_in_process" translate="label" type="select" sortOrder="20"
                            showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Estado del pedido cuando el pago está en curso</label>
                            <source_model>Mobbex\Webpay\Model\Config\OrderStatus</source_model>
                        </field>

                        <field id="order_status_authorized" translate="label" type="select" sortOrder="21"
                            showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Estado del pedido cuando el pago fue autorizado</label>
                            <source_model>Mobbex\Webpay\Model\Config\OrderStatus</source_model>
                        </field>

                        <field id="order_status_cancelled" translate="label" type="select" sortOrder="21"
                            showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Estado del pedido cuando el pago es cancelado</label>
                            <source_model>Mobbex\Webpay\Model\Config\OrderStatus</source_model>
                        </field>

                        <field id="order_status_refunded" translate="label" type="select" sortOrder="22"
                            showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Estado del pedido cuando se reembolsa el pago</label>
                            <source_model>Mobbex\Webpay\Model\Config\OrderStatus</source_model>
                        </field>

                        <field id="order_status_revision" translate="label" type="select" sortOrder="23"
                            showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Estado del pedido cuando se sospecha de posible fraude</label>
                            <source_model>Mobbex\Webpay\Model\Config\OrderStatus</source_model>
                        </field>

                        <field id="order_status_rejected" translate="label" type="select" sortOrder="24"
                            showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Estado del pedido cuando se rechaza el pago por posible fraude</label>
                            <source_model>Mobbex\Webpay\Model\Config\OrderStatus</source_model>
                        </field>

                        <field id="disable_invoices" translate="label" type="select" sortOrder="24" showInDefault="1"
                            showInWebsite="1" showInStore="0">
                            <label>Deshabilitar creación automática de facturas</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        </field>

                        <field id="memo_stock" translate="label" type="select" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Permitir que las devoluciones desde consola devuelvan stock (Beta)</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        </field>
                    </group>

                    <group id="email_settings" translate="label" sortOrder="50" showInDefault="1" showInWebsite="1"
                        showInStore="1">
                        <label>Email Settings</label>

                        <field id="create_order_email" translate="label comment" sortOrder="25" type="select"
                            showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Email al crear orden</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        </field>

                        <field id="email_before_payment" translate="label comment" sortOrder="28" type="select"
                            showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Email Antes del Pago</label>
                            <comment>Envia el email al crear orden antes de la realización del pago.</comment>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        </field>

                        <field id="update_order_email" translate="label comment" sortOrder="26" type="select"
                            showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Email al actualizar orden</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        </field>

                        <field id="create_invoice_email" translate="label comment" sortOrder="27" type="select"
                            showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Email al crear factura</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        </field>
                    </group>
                </group>
                <group id="appearance" translate="label" sortOrder="31" showInDefault="1" showInWebsite="1"
                    showInStore="1">
                    <label>Appearance</label>
                   
                    <field id="theme" translate="label comment" sortOrder="32" type="select" showInDefault="1"
                        showInWebsite="1" showInStore="0">
                        <label>Tema de Mobbex</label>
                        <source_model>Mobbex\Webpay\Model\Themes</source_model>
                    </field>

                    <field id="checkout_title" translate="label comment" sortOrder="33" type="text" showInDefault="1"
                    showInWebsite="1" showInStore="1">
                    <label>Checkout Title</label>
                    </field>
                   
                    <field id="checkout_banner" translate="label comment" sortOrder="33" type="text" showInDefault="1"
                    showInWebsite="1" showInStore="1">
                        <label>Banner Checkout</label>
                        <comment>
                            <![CDATA[
                                Ejemplos:<br/>
                                https://res.mobbex.com/ecommerce/mobbex_2.png<br/>
                                https://res.mobbex.com/ecommerce/mobbex_3.png
                            ]]>
                        </comment>
                    </field>

                    <field id="background_color" translate="label comment" sortOrder="34" type="text" showInDefault="1"
                        showInWebsite="1" showInStore="0">
                        <label>Color de Fondo</label>
                        <comment>Sólo valores hexadecimales. Ej. #FFF o #AFAFAF</comment>
                    </field>

                    <field id="primary_color" translate="label comment" sortOrder="35" type="text" showInDefault="1"
                        showInWebsite="1" showInStore="0">
                        <label>Color Primario</label>
                        <comment>Sólo valores hexadecimales. Ej. #FFF o #AFAFAF</comment>
                    </field>

                    <field id="button_logo" translate="label comment" sortOrder="35" type="text"
                    showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Logo del botón de financiación</label>
                        <comment>
                            <![CDATA[
                                Opcional. Ejemplo:<br/>
                                https://res.mobbex.com/images/sources/mobbex.png<br/>
                            ]]>
                        </comment>
                    </field>
                    
                    <field id="button_text" translate="label comment" sortOrder="36" type="text"
                        showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Texto del botón de financiación</label>
                        <comment>Modifica el texto del botón de financiación.</comment>
                    </field>

                    <field id="widget_style" translate="label comment" sortOrder="37" type="textarea"
                        showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Estilos del botón de financiación</label>
                        <comment>Modifica los estilos del botón de financiación respetando la sintaxis de CSS.</comment>
                    </field>
                </group>
                <group id="advanced" translate="label" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Advanced</label>
                    <field id="site_id" translate="label comment" sortOrder="19" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Añadir identificador del sitio</label>
                        <comment>Si utiliza las mismas credenciales en otro sitio complete este campo con un identificador que permita diferenciar las referencias de sus operaciones.</comment>
                    </field>
                    <field id="unified_mode" translate="label comment" sortOrder="20" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Modo unificado</label>
                        <comment>Muestra un sólo método de pago de Mobbex al finalizar la compra. Si tiene varios activos, el listado se mostrará una vez abierto el modal de pago.</comment>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="online_refund" translate="label comment" sortOrder="25" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Devolución Online (Beta)</label>
                        <comment>Si está activa, los credit memos nuevos generarán devoluciones en Mobbex.</comment>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                </group>
                <group id="notifications" translate="label" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Notificaciones</label>
                    <field id="emit_notifications" translate="label comment" sortOrder="20" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Emitir Notificaciones</label>
                        <comment>Permite desactivar todas las notificationes al cliente enviadas por el servicio. No desactiva los Webhooks.</comment>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="emit_customer_success_notification" translate="label comment" sortOrder="25" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Notificar pagos exitosos</label>
                        <comment>Permite desactivar los avisos de pagos exitosos via email, sms o whatstapp.</comment>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="emit_customer_failure_notification" translate="label comment" sortOrder="30" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Notificar pagos fallidos</label>
                        <comment>Permite desactivar los avisos de pagos fallidos via email, sms o whatstapp.</comment>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="emit_customer_waiting_notification" translate="label comment" sortOrder="35" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Notificar pagos en espera</label>
                        <comment>Permite desactivar los avisos de pagos en espera como Códigos de Barra o QR via email, sms o whatstapp.</comment>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>