<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="webpay" translate="label" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">

                <label>Mobbex WebPays</label>

                <field id="active" translate="label comment" sortOrder="1" type="select" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="api_key" translate="label comment" sortOrder="3" type="text" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>API Key</label>
                </field>

                <field id="access_token" translate="label comment" sortOrder="4" type="text" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Access Token</label>
                </field>

                <field id="min_amount" translate="label comment" sortOrder="5" type="text" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Monto minimo de compra</label>
                    <comment>Monto de compra a partir del cual se podrá habilitar el módulo de pagos en el checkout</comment>
                </field>

                <field id="debug_mode" translate="label comment" sortOrder="6" type="select" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Habilitar debug</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Solo para pruebas de desarrollo y verficiar eventuales errores</comment>
                </field>

                <field id="test_mode" translate="label comment" sortOrder="7" type="select" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Modo de Pruebas</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="financial_active" translate="label comment" sortOrder="8" type="select" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Activar Info. Financiación</label>
                    <comment>Activar botón de "Ver Financiaciones" en productos</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="tax_id" translate="label comment" sortOrder="9" type="text" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Cuit</label>
                    <comment>Cuit para mostrar las financiaciones de productos</comment>
                </field>

                <field id="title" translate="label comment" sortOrder="10" type="text" showInDefault="1"
                    showInWebsite="1" showInStore="1">
                    <label>Título en el checkout</label>
                </field>
                <field id="version" translate="label" type="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Version</label>
                    <backend_model>Mobbex\Webpay\Model\Config\Version</backend_model>
                </field>
                <group id="checkout" translate="label" sortOrder="30" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Checkout</label>

                    <field id="wallet_active" translate="label comment" sortOrder="11" type="select" showInDefault="1"
                        showInWebsite="1" showInStore="1">
                        <label> Mobbex Wallet para usuarios logeados</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="embed_payment" translate="label comment" sortOrder="12" type="select" showInDefault="1"
                        showInWebsite="1" showInStore="1">
                        <label>Pago desde el sitio</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>

                    <field id="checkout_banner" translate="label comment" sortOrder="13" type="text" showInDefault="1"
                        showInWebsite="1" showInStore="1">
                        <label>Banner Checkout</label>
                        <comment>
                            <![CDATA[
                                Otros ejemplos:<br/>
                                https://res.mobbex.com/ecommerce/mobbex_2.png<br/>
                                https://res.mobbex.com/ecommerce/mobbex_3.png
                            ]]>
                        </comment>
                    </field>

                    <field id="theme" translate="label comment" sortOrder="14" type="select" showInDefault="1"
                        showInWebsite="1" showInStore="0">
                        <label>Tema</label>
                        <source_model>Mobbex\Webpay\Model\Themes</source_model>
                    </field>

                    <field id="background_color" translate="label comment" sortOrder="15" type="text" showInDefault="1"
                        showInWebsite="1" showInStore="0">
                        <label>Color de Fondo</label>
                        <comment>Sólo valores hexadecimales. Ej. #FFF o #AFAFAF</comment>
                    </field>

                    <field id="primary_color" translate="label comment" sortOrder="16" type="text" showInDefault="1"
                        showInWebsite="1" showInStore="0">
                        <label>Color Primario</label>
                        <comment>Sólo valores hexadecimales. Ej. #FFF o #AFAFAF</comment>
                    </field>

                    <field id="own_dni_field" translate="label comment" sortOrder="17" type="select" showInDefault="1"
                        showInWebsite="1" showInStore="1">
                        <label>Mostrar campo DNI</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>

                    <group id="order_status_settings" translate="label" sortOrder="40" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                        <label>Order Status Settings</label>

                        <field id="order_status_approved" translate="label" type="select" sortOrder="18" showInDefault="1"
                            showInWebsite="1" showInStore="0">
                            <label>Estado del pedido cuando se aprueba el pago</label>
                            <source_model>Mobbex\Webpay\Model\Config\OrderStatus</source_model>
                        </field>

                        <field id="order_status_in_process" translate="label" type="select" sortOrder="19" showInDefault="1"
                            showInWebsite="1" showInStore="0">
                            <label>Estado del pedido cuando el pago está en curso</label>
                            <source_model>Mobbex\Webpay\Model\Config\OrderStatus</source_model>
                        </field>

                        <field id="order_status_cancelled" translate="label" type="select" sortOrder="20" showInDefault="1"
                            showInWebsite="1" showInStore="0">
                            <label>Estado del pedido cuando el pago es cancelado</label>
                            <source_model>Mobbex\Webpay\Model\Config\OrderStatus</source_model>
                        </field>

                        <field id="order_status_refunded" translate="label" type="select" sortOrder="21" showInDefault="1"
                            showInWebsite="1" showInStore="0">
                            <label>Estado del pedido cuando se reembolsa el pago</label>
                            <source_model>Mobbex\Webpay\Model\Config\OrderStatus</source_model>
                        </field>
                    </group>

                    <group id="email_settings" translate="label" sortOrder="22" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                        <label>Email Settings</label>

                        <field id="create_order_email" translate="label comment" sortOrder="23" type="select" showInDefault="1"
                            showInWebsite="1" showInStore="1">
                            <label>Email al crear orden</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        </field>

                        <field id="update_order_email" translate="label comment" sortOrder="24" type="select" showInDefault="1"
                            showInWebsite="1" showInStore="1">
                            <label>Email al actualizar orden</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        </field>

                        <field id="create_invoice_email" translate="label comment" sortOrder="25" type="select" showInDefault="1"
                            showInWebsite="1" showInStore="1">
                            <label>Email al crear factura</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        </field>
                    </group>
                </group>
            </group>
        </section>
    </system>
</config>
