ul#wallet-cards li {
    background: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
}

.payment-method-title img[src*='res.mobbex'],
.payment-method-title img[src*='res.sugaway'] {
    max-height: 3em;
    border-radius: 100%;
    margin-right: .5em;
    transform: translateY(10px);
}