:root {
    --tag-blue: #006EFB;
    --flag-text: #ffffff;
    --font-fmly: sans-serif;
}

.mobbex-wrapper {
    position: relative;
    display: inline-block;
}

.mobbex-flag-container {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 5;
}

.mobbex-flag {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 2;
    top: -0.9rem;
    right: 0.625rem;
    min-height: 2.25rem;
    min-width: 5.375rem;
    max-height: 4.5rem;
    max-width: 6.75rem;
    padding: 0 0.375rem 0.375rem 0.375rem;
    color: var(--flag-text);
    font-family: var(--font-fmly);
    border-radius: 0.5rem;
    border: 0.03125rem solid #A09DA3;
    background: var(--tag-blue);
    box-shadow: 0.25rem 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.10);
}


.mobbex-flag-top {
    height: 2.25rem;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    gap: 0.12rem;
    margin: 0 0.5rem 0.25rem 0.5rem;
    padding-top: 0.2rem;
}

.mobbex-flag-top-count {
    width: 100%;
    text-align: center;
    font-weight: 700;
    line-height: 0.875rem;
    letter-spacing: 0.00625rem;
}

.mobbex-flag-top-text {
    width: 100%;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 0.875rem;
    letter-spacing: 0.00625rem;
    text-align: start;
}

.mobbex-flag-bottom {
    min-width: 6rem;
    height: 0.875rem;
    display: flex;
    flex-shrink: 0;
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 0.75rem;
    font-style: normal;
    margin: 0 0.25rem 0.25rem 0.25rem;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.mobbex-product-banner {
    display: flex;
    flex-direction: column;
    background: white;
    border: 0.0625rem solid #c7c7c7;
    border-radius: 0.5rem;
    justify-self: center;
    width: 100%;
    font-family: var(--font-fmly);
    margin-bottom: 1.25rem;
}

.mobbex-product-banner-top {
    color: #000;
    display: flex;
    justify-content: center;
}

.mobbex-installment-span-left {
    text-decoration: none;
    font-size: 1.125rem;
    align-self: center;
    margin-right: 0.375rem;
}

.mobbex-installment-span-right {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2rem;
    color: var(--tag-blue);
}

.mobbex-product-banner-bottom {
    margin: 0 0.125rem;
    display: flex;
    justify-content: center;
    color: #000;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2rem;
}