.mbbx-sort-container {
  background: #eeeeee;
  color: black;
  width: 900px;
  overflow: hidden;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  border: solid 2px #eee;

  .sources {
    padding: 15px;
    padding-right: 0;
    gap: 15px;
    overflow: scroll;
    height: 700px;
    display: flex;
    flex-flow: column;

    div {
      display: flex;
      align-items: center;
      gap: 15px;
      border-radius: 10px;
      padding: 5px;
      cursor: pointer;
      border-start-end-radius: 0;
      border-end-end-radius: 0;

      h4 {
        margin: 0;
      }

      img {
        width: 50px;
        height: 50px;
        border-radius: 20px;
      }
    }
    .selected {
      background: white;
    }
  }

  .installments {
    background: white;
    overflow: scroll;
    height: 700px;
    padding: 15px;
    gap: 10px;
    display: flex;
    flex-flow: column;
    border-radius: 10px;

    .installment {
      padding: 15px;
      border: 2px solid #eeeeee;
      border-radius: 5px;
      background: white;
      cursor: pointer;
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      position: relative;

      .installment-desc {
        display: flex;
        flex-flow: column;
      }

      p.small {
        color: gray;
        font-size: 12px;
      }

      p.advanced-text {
        font-size: 10px;
        color: white;
        background: #d5a6ff;
        display: flex;
        align-items: center;
        padding: 0 5px;
        border-radius: 13px;
        margin: 0 5px;
      }

      * {
        margin: 0;
        display: flex;
      }
    }
  }
}
